﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Areas/Admin/assets/dist/css/style.min.css" rel="stylesheet" />
<div class="row">
    <!-- column -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Line Chart</h4>
                <div>
                    <canvas id="chart1" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
    <!-- column -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bar Chart</h4>
                <div>
                    <canvas id="chart2" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }
</style>

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
    //am4core.ready(function () {

        // Themes begin
        //am4core.useTheme(am4themes_animated);
        // Themes end
        $.ajax({
            url: '@Url.Action("GetChart7", "Home")',
            type: "Get",
            processData: false,
            contenType: false,

            contenType: "application/json",
            dataType: "json",
            success: function (result) {
                //var ctxn = document.getElementById("chart1").getContext("2d");
                var dataChart = result.data;
                var dataChart2 = result.data2;

                am4core.useTheme(am4themes_animated);
                var chart = am4core.create("chartdiv", am4charts.XYChart);
                chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

                chart.data = [
                    {
                        country: "USA",
                        visits: 23725
                    },
                    {
                        country: "China",
                        visits: 1882
                    },
                    {
                        country: "Japan",
                        visits: 1809
                    },
                    {
                        country: "Germany",
                        visits: 1322
                    },
                    {
                        country: "UK",
                        visits: 1122
                    },
                    {
                        country: "France",
                        visits: 1114
                    },
                    {
                        country: "India",
                        visits: 984
                    },
                    {
                        country: "Spain",
                        visits: 711
                    },
                    {
                        country: "Netherlands",
                        visits: 665
                    },
                    {
                        country: "Russia",
                        visits: 580
                    },
                    {
                        country: "South Korea",
                        visits: 443
                    },
                    {
                        country: "Canada",
                        visits: 441
                    }
                ];

                var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
                categoryAxis.renderer.grid.template.location = 0;
                categoryAxis.dataFields.category = "country";
                categoryAxis.renderer.minGridDistance = 40;
                categoryAxis.fontSize = 11;

                var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                valueAxis.min = 0;
                valueAxis.max = 24000;
                valueAxis.strictMinMax = true;
                valueAxis.renderer.minGridDistance = 30;
                // axis break
                var axisBreak = valueAxis.axisBreaks.create();
                axisBreak.startValue = 2100;
                axisBreak.endValue = 22900;
                //axisBreak.breakSize = 0.005;

                // fixed axis break
                var d = (axisBreak.endValue - axisBreak.startValue) / (valueAxis.max - valueAxis.min);
                axisBreak.breakSize = 0.05 * (1 - d) / d; // 0.05 means that the break will take 5% of the total value axis height

                // make break expand on hover
                var hoverState = axisBreak.states.create("hover");
                hoverState.properties.breakSize = 1;
                hoverState.properties.opacity = 0.1;
                hoverState.transitionDuration = 1500;

                axisBreak.defaultState.transitionDuration = 1000;
                /*
                // this is exactly the same, but with events
                axisBreak.events.on("over", function() {
                  axisBreak.animate(
                    [{ property: "breakSize", to: 1 }, { property: "opacity", to: 0.1 }],
                    1500,
                    am4core.ease.sinOut
                  );
                });
                axisBreak.events.on("out", function() {
                  axisBreak.animate(
                    [{ property: "breakSize", to: 0.005 }, { property: "opacity", to: 1 }],
                    1000,
                    am4core.ease.quadOut
                  );
                });*/

                var series = chart.series.push(new am4charts.ColumnSeries());
                series.dataFields.categoryX = "country";
                series.dataFields.valueY = "visits";
                series.columns.template.tooltipText = "{valueY.value}";
                series.columns.template.tooltipY = 0;
                series.columns.template.strokeOpacity = 0;

                // as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
                series.columns.template.adapter.add("fill", function (fill, target) {
                    return chart.colors.getIndex(target.dataItem.index);
                });
            }



    }); // end am4core.ready()
</script>

<!-- HTML -->
<div id="chartdiv"></div>





@*đây là của chart thường*@
<script src="~/Areas/Admin/assets/node_modules/Chart.js/Chart.js"></script>
@*<script src="~/Areas/Admin/assets/node_modules/Chart.js/chartjs.init.js"></script>*@
<script>
    var dataChart;
    $.ajax({
        url: '@Url.Action("GetChart1", "Home")',
        type: "Get",
        processData: false,
        contenType: false,

        contenType: "application/json",
        dataType: "json",
        success: function (result) {
            var ctxn=document.getElementById("chart1").getContext("2d");
            var dataChart = result.data;
            var dataChart2 = result.data2;
           var data1 = {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [
            {
                label: "My Second dataset",
                fillColor: "rgba(243,245,246,0.9)",
                strokeColor: "rgba(243,245,246,0.9)",
                pointColor: "rgba(243,245,246,0.9)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(243,245,246,0.9)",
                data: dataChart
            },
            {
                label: "My First dataset",
                fillColor: "rgba(152,235,239,0.8)",
                strokeColor: "rgba(152,235,239,0.8)",
                pointColor: "rgba(152,235,239,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(152,235,239,1)",
                data: dataChart2
            }

        ]
    };

    var chart1 = new Chart(ctxn).Line(data1, {
        scaleShowGridLines : true,
        scaleGridLineColor : "rgba(0,0,0,.005)",
        scaleGridLineWidth : 0,
        scaleShowHorizontalLines: true,
        scaleShowVerticalLines: true,
        bezierCurve : true,
        bezierCurveTension : 0.4,
        pointDot : true,
        pointDotRadius : 4,
        pointDotStrokeWidth : 1,
        pointHitDetectionRadius : 2,
        datasetStroke : true,
		tooltipCornerRadius: 2,
        datasetStrokeWidth : 2,
        datasetFill : true,
        legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
        responsive: true
    });


    var ctx2 = document.getElementById("chart2").getContext("2d");
    var data2 = {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [
            {
                label: "My First dataset",
                fillColor: "rgba(252,201,186,0.8)",
                strokeColor: "rgba(252,201,186,0.8)",
                highlightFill: "rgba(252,201,186,1)",
                highlightStroke: "rgba(252,201,186,1)",
                data: dataChart
            },
            {
                label: "My Second dataset",
                fillColor: "rgba(180,193,215,0.8)",
                strokeColor: "rgba(180,193,215,0.8)",
                highlightFill: "rgba(180,193,215,1)",
                highlightStroke: "rgba(180,193,215,1)",
                data: dataChart2
            }
        ]
    };

    var chart2 = new Chart(ctx2).Bar(data2, {
        scaleBeginAtZero : true,
        scaleShowGridLines : true,
        scaleGridLineColor : "rgba(0,0,0,.005)",
        scaleGridLineWidth : 0,
        scaleShowHorizontalLines: true,
        scaleShowVerticalLines: true,
        barShowStroke : true,
        barStrokeWidth : 0,
		tooltipCornerRadius: 2,
        barDatasetSpacing : 3,
        legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
        responsive: true
    });
        }
    })
</script>