﻿@model CMS_Elite.Models.tblRole

<div class="modal-content">
    <div class="modal-header" style="background-color:#ff6a00">
        <h5 class="modal-title" id="exampleModalLongTitle" style="color:azure">Thông tin quyền</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Tên Quyền: <span class="label-required"></span></label>
                    @Model.RoleName
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Mô Tả: <span class="label-required"></span></label>
                    @Model.Description
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Người tạo: <span class="label-required"></span></label>
                    @Model.CreatedUser
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Ngày tạo: <span class="label-required"></span></label>
                    @Model.CreatedDate
                </div>
            </div>
        </div>
    </div>
</div>