﻿@model CMS_Elite.Models.tblRole
@{
    Layout = null;
}
<div class="modal-content">
    <div class="modal-header" style="background-color:#ff6a00">
        <h5 class="modal-title" id="exampleModalLongTitle" style="color:azure">Sửa Quyền</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.RoleID, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.RoleID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-6" })
                    <select id="inputState" class="form-control" name="cboMenu">                      
                        @{
                            if (Model.Status == 1)
                            {
                                <option value="1" selected>Kích hoạt</option>
                                <option value="0">Vô hiệu hoá</option>
                            }
                            else
                            {
                                <option value="1">Kích hoạt</option>
                                <option value="0" selected>Vô hiệu hoá</option>
                            }
                        }
                    </select>

                </div>

                <div class="form-group">
                    <div class="col-md-offset-8 col-md-12">
                        <input type="submit" value="Sửa" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div>

</div>