﻿@model IEnumerable<CMS_Elite.Models.tblRole>

@{
    ViewBag.BreadCum = "Quản lý Role";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    int STT = 0;
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body table-border-style">
                <div class="row">
                    <div class="col-lg-6">
                        <h4 class="card-title">Danh mục Quyền (Role)</h4>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-primary" style="float:right" href="#" onclick="createModal('@Url.Action("Create", "Role")')">Thêm mới</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <div class="table-responsive">
                        <table id="myTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên Quyền</th>
                                    <th>Mô tả</th>
                                    <th>Trạng thái</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    STT++;
                                    <tr>
                                        <td>
                                            <span>@STT</span>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RoleName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @{
                                                if (item.Status == 1)
                                                {
                                                    var a = "Kích hoạt";
                                                    @Html.DisplayFor(modelItem => a)
                                                }
                                                else
                                                {
                                                    var b = "Vô hiệu hóa";
                                                    @Html.DisplayFor(modelItem => b)
                                                }
                                            }
                                        </td>
                                        <td>
                                            <a href="#"onclick="createModal('@Url.Action("Edit", "Role" , new {id=item.RoleID })')">Sửa</a> |
                                            <a href="#" onclick="createModal('@Url.Action("Details", "Role" , new {id=item.RoleID })')">Chi tiết</a>  |
                                            <a onclick="return confirm('Bạn có muốn xóa dữ liệu không?')" href="@Url.Action("Delete","Role",new { id = item.RoleID})">Xóa</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                            <div class="modal-dialog">
                                <div class="modal-content" id="modelContent">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function createModal(url) {
        $('#modelContent').load(url);
        $('#myModal').modal('show');
    }



</script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
        $(document).ready(function () {
            var table = $('#example').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [2, 'asc']
                ],
                "displayLength": 25,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;
                    api.column(2, {
                        page: 'current'
                    }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                            last = group;
                        }
                    });
                }
            });
            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                } else {
                    table.order([2, 'asc']).draw();
                }
            });
        });
    });
    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
</script>