﻿@model CMS_Elite.Models.tblAccountUser

<div class="modal-content">
    <div class="modal-header" style="background-color: dodgerblue">
        <h5 class="modal-title" id="exampleModalLongTitle">Thông tin người dùng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-7">
                <div class="form-group">
                    <label>Tên tài khoản: <span class="label-required">*</span></label>
                    @Model.AccountName
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Giới tính: <span class="label-required">*</span></label>
                    @{
                        if (Model.Sex == 1)
                        {
                            <span> Nam</span>
                        }
                        else
                        {
                            <span> Nữ</span>
                        }
                    }

                </div>
            </div>
            <div class="col-lg-7">
                <div class="form-group">
                    <label>Ngày sinh: <span class="label-required">*</span></label>
                   @Model.Birthday.Value.ToString("dd/MM/yyyy")
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Địa chỉ: <span class="label-required">*</span></label>
                    @Model.Address
                </div>
            </div>
        </div>
    </div>
</div>
