﻿@model CMS_Elite.Models.tblAccountUser
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<link rel="stylesheet" href="~/Areas/Admin/assets/node_modules/dropify/dist/css/dropify.min.css">

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body table-border-style">
                    <div class="row">
                        <div class="col-lg-6">
                            <h4 class="card-title">Thêm mới thông tin người dùng</h4>
                        </div>
                    </div>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="row p-t-0">
                                <div class="col-md-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Ảnh:</label>
                                        <input type="file" name="filePost" class="dropify" value="@Model.ImageUrl" src="@Model.ImageUrl" data-default-file="@Model.ImageUrl" data-allowed-file-extensions='["png", "jpg"]' />
                                        @Html.HiddenFor(x=>x.ImageUrl)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Tên tài khoản: <span class="label-required">*</span></label>
                                        @Html.EditorFor(model => model.AccountName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AccountName, "", new { @class = "text-danger" })

                                        @Html.HiddenFor(model => model.Account_ID)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Tên người dùng: <span class="label-required">*</span></label>
                                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Mật khẩu: <span class="label-required">*</span></label>
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control"  } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Ngày hiệu lực: <span class="label-required">*</span></label>
                                        @Html.EditorFor(model => model.DateIssued, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DateIssued, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Ngày sinh: <span class="label-required">*</span></label>
                                        @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                        @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Giới tính: <span class="label-required">*</span></label>
                                        <div class="radio-list" style="padding-left:10px;">
                                            @if (Model.Sex == 1)
                                            {
                                               
                                                @Html.RadioButtonFor(model => model.Sex, 1, new { @checked = "checked" })
                                                <label style="margin-right:10px">Nam</label>
                                               
                                                @Html.RadioButtonFor(model => model.Sex, 0)
                                                <label>Nữ</label>
                                            }
                                            else
                                            {
                                                @Html.RadioButtonFor(model => model.Sex, 1)
                                                <label style="margin-right:10px">Nam</label>
                                               
                                                @Html.RadioButtonFor(model => model.Sex, 0, new { @checked = "checked" })
                                                <label>Nữ</label>
                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                                    <div class="col-lg-12">
                                        <input type="file" id="imgUser" class="form-control-file" name="filePost" />
                                    </div>
                                </div>*@
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Địa chỉ: <span class="label-required">*</span></label>
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Mô tả: <span class="label-required">*</span></label>
                                        @if (Model != null)
                                        {
                                            <textarea class="form-control" name="validation-text">@Model.Description</textarea>
                                        }
                                        else
                                        {
                                            <textarea class="form-control" name="validation-text"></textarea>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="submit" value="Ghi dữ liệu" class="btn btn-primary btn-sm" />
                                    @Html.ActionLink("Quay lại", "Index")
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
}

<script src="~/Areas/Admin/assets/node_modules/dropify/dist/js/dropify.min.js"></script>

<script>
    $(document).ready(function () {
        // Basic
        $('.dropify').dropify();

        // Translated
        $('.dropify-fr').dropify({
            messages: {
                default: 'Glissez-déposez un fichier ici ou cliquez',
                replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                remove: 'Supprimer',
                error: 'Désolé, le fichier trop volumineux'
            }
        });

        // Used events
        var drEvent = $('#input-file-events').dropify();

        drEvent.on('dropify.beforeClear', function (event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });

        drEvent.on('dropify.afterClear', function (event, element) {
            alert('File deleted');
        });

        drEvent.on('dropify.errors', function (event, element) {
            console.log('Has Errors');
        });

        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function (e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    });
</script>


