﻿@model IEnumerable<CMS_Elite.Models.tblAccountUser>
@{
    ViewBag.Breadcum = "Quản lý người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@{
    int STT = 0;
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body table-border-style">
                <div class="row">
                    <div class="col-lg-6">
                        <h4 class="card-title">Danh sách thông tin người dùng</h4>
                    </div>
                    <div class="col-lg-6">
                        <a href="@Url.Action("Create", "User")" class="btn btn-sm btn-primary btn-header">Thêm mới</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="myTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ảnh</th>
                                <th>Tên tài khoản</th>
                                <th>Giới tính</th>
                                <th>Ngày sinh</th>
                                <th>Địa chỉ</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                STT = STT + 1;
                                <tr>
                                    <td>
                                        @STT
                                    </td>
                                    <td>
                                        @if (item.ImageUrl != "")
                                        {
                                            <a href="javascript:void(0)"><img src="@item.ImageUrl" alt="ImgUrl" height="50" width="50" class="img-circle" style="object-fit: cover;"> @Html.DisplayFor(modelItem => item.UserName)</a>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)"><img src="~/Areas/Admin/Content/images/anh_png.png" alt="user" height="50" width="50" class="img-circle" style="object-fit: cover;"> @Html.DisplayFor(modelItem => item.UserName)</a>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccountName)
                                    </td>

                                    <td>
                                        @if (item.Sex == 1)
                                        {
                                            <span>Nam</span>
                                        }
                                        else
                                        {
                                            <span>Nữ</span>
                                        }
                                    </td>
                                    <td>
                                        @item.Birthday.Value.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @item.Address
                                    </td>
                                    <td>
                                        @Html.ActionLink("Sửa", "Edit", new { id = item.Account_ID }) |
                                        @*@Html.ActionLink("Chi tiết", "Details", new { id = item.Account_ID })*@
                                        <a href="#" onclick="createModal('@Url.Action("Details", "User",new { id = item.Account_ID })')">Chi tiết</a> |
                                        <a onclick="return confirm('Bạn có muốn xóa người dùng không?')" href="@Url.Action("Delete", "User", new { ID = item.Account_ID })" data-toggle="tooltip" data-original-title="Reset mật khẩu">
                                            Xóa
                                        </a>
                                        @*@Html.ActionLink("Xóa", "Delete", new { ID = item.Account_ID })*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" id="modelContent">
        </div>
    </div>
</div>
<script>
    function createModal(url) {
        $('#modelContent').load(url);
        $('#myModal').modal('show');
    }
</script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
        $(document).ready(function () {
            var table = $('#example').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [2, 'asc']
                ],
                "displayLength": 25,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;
                    api.column(2, {
                        page: 'current'
                    }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                            last = group;
                        }
                    });
                }
            });
            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                } else {
                    table.order([2, 'asc']).draw();
                }
            });
        });
    });
    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
</script>

