// Green colors
.skin-green {
    /*Theme Colors*/
    $themecolor: #00a65a;
    $themecolor-alt: #26c6da;
    // Topbar
    .topbar {
        background: $themecolor;
    }
    //Sidebar
    .sidebar-nav {
        ul li a {
            &.active,
            &:hover {
                color: $themecolor;
                i {
                    color: $themecolor;
                }
            }
        }
        > ul > li {
            &.active > a {
                color: $themecolor;
                border-left: 3px solid $themecolor;
                i {
                    color: $themecolor;
                }
            }
        }
    }
    
    //Bread-crumb
    .page-titles .breadcrumb .breadcrumb-item.active{
        color: $themecolor;
    }
}