﻿<!DOCTYPE html>
<html>
<head>
    <title> Đăng ký khoá học thành công, tài khoản của bạn là: {{CustomerName}}</title>
    <meta charset="utf-8" />
</head>
<body>
    <h3 style="color:red">Mời xác nhận thông tin</h3>
    Thông tin khách hàng: {{CustomerName}} <br />
    Điện thoại: {{Phone}} <br />
    Email: {{Email}}<br />
    Địa chỉ: {{Address}}<br />
</body>
</html>
