﻿@model CMS_Elite.Models.tblMenu

@{
    ViewBag.Breadcum = "Quản lý chức năng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    var lstMenu = (List<CMS_Elite.Models.tblMenu>)ViewBag.Menu;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card">
        
        <div class="card-body table-border-style">
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="card-title">Thêm mới chức năng (Menu)</h4>
                </div>
               
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Tên chức năng: <span class="label-required">*</span></label>
                        @Html.EditorFor(model => model.MenuName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MenuName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Chức năng cha: <span class="label-required">*</span></label>
                        <select id="inputState" class="form-control" name="cboMenu">
                            <option value="-1" selected>Menu Root</option>
                            @if (lstMenu != null)
                            {
                                foreach (var item in lstMenu)
                                {
                                    <option value="@item.ID">@item.MenuName</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Tên User Control: <span class="label-required">*</span></label>
                        @Html.EditorFor(model => model.UserControl, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserControl, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Url hiển thị: <span class="label-required">*</span></label>
                        @Html.EditorFor(model => model.MetaTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Sắp xếp: <span class="label-required">*</span></label>
                        @Html.EditorFor(model => model.OrderNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OrderNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group" style="margin-top: .5rem;">
                        <br />
                        <input type="submit" value="Ghi dữ liệu" class="btn btn-primary" />
                        @Html.ActionLink("Quay lại", "Index")
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<div>

</div>
