﻿@model CMS_Elite.Models.tblMenu

<div class="modal-content">
    <div class="modal-header" style="background-color:#ff6a00">
        <h5 class="modal-title" id="exampleModalLongTitle" style="color:azure">Thông tin tài khoản</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-7">
                <div class="form-group">
                    <label>Tên chức năng: <span class="label-required">*</span></label>
                    @Model.MenuName
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-group">
                    <label>Tên User Control: <span class="label-required">*</span></label>
                    @Model.UserControl
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Url hiển thị: <span class="label-required">*</span></label>
                    @Model.MetaTitle
                </div>
            </div>
            <div class="col-lg-7">
                <div class="form-group">
                    <label>Sắp xếp: <span class="label-required">*</span></label>
                    @Model.OrderNumber
                </div>
            </div>

        </div>
    </div>
</div>