﻿@model CMS_Elite.Models.tblMenu

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    var lstMenu = (List<CMS_Elite.Models.tblMenu>)ViewBag.Menu;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="card">
          
            <div class="card-body table-border-style">
                <div class="row">
                    <div class="col-lg-6">
                        <h4 class="card-title">Cập nhật thông tin Chức năng (Menu)</h4>
                    </div>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Tên chức năng: <span class="label-required">*</span></label>
                            @Html.EditorFor(model => model.MenuName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MenuName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Chức năng cha: <span class="label-required">*</span></label>
                            @if (lstMenu != null)
                            {
                                @Html.DropDownListFor(n => n.Parent_ID, new SelectList(lstMenu, "ID", "MenuName"), "--Chọn menu cha--", new { @class = "form-control", Name = "cboMenu" })
                                @Html.ValidationMessageFor(model => model.Parent_ID, "", new { @class = "text-danger" })
                            }

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Tên User Control: <span class="label-required">*</span></label>
                            @Html.EditorFor(model => model.UserControl, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserControl, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Url hiển thị: <span class="label-required">*</span></label>
                            @Html.EditorFor(model => model.MetaTitle, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Sắp xếp: <span class="label-required">*</span></label>
                            @Html.EditorFor(model => model.OrderNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OrderNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <br />
                            <input type="submit" value="Ghi dữ liệu" class="btn btn-primary" />
                            @Html.ActionLink("Quay lại", "Index")
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@*<script src="~/Areas/Admin/assets/plugins/select2/js/select2.full.min.js"></script>*@