﻿
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="section group">
    <div class="col-md-6">
        @using (Html.BeginForm("Send", "SendMail", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                <label>Tên tài khoản</label>
                <input name="user" class="form-control" />
            </div>
            <div class="form-group">
                <label>Điện thoại</label>
                <input name="mobile" class="form-control" />
            </div>
            <div class="form-group">
                <label>Địa chỉ</label>
                <input name="address" class="form-control" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input name="email" class="form-control" />
            </div>
            <div class="form-group">
                <label>Attach</label>
                <input type="file" name="fileUploader" id="FileUpload1" class="form-control" multiple />
            </div>
            <button class="btn btn-primary" type="submit">Gửi</button>
        }
    </div>

</div>
@*<script>

    $(document).ready(function(){
        $('#btnUpload').click(function () {

            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var fileUpload = $("#FileUpload1").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                // Adding one more key to FormData object
                fileData.append('username', 'Manas');

                $.ajax({
                    url: '/SendMail/UploadFiles',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        alert(result);
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });
    });
    </script>*@
