/*
Template Name: Admin Template
Author: Wrappixel

File: scss
*/
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
/*Theme Colors*/
/**
 * Table Of Content
 *
 * 	1. Color system
 *	2. Options
 *	3. Body
 *	4. Typography
 *	5. Breadcrumbs
 *	6. Cards
 *	7. Dropdowns
 *	8. Buttons
 *	9. Typography
 *	10. Progress bars
 *	11. Tables
 *	12. Forms
 *	14. Component
 */
/*******************
Form icheck
******************/
.icolors,
.icheck-list {
  padding: 0;
  margin: 0;
  list-style: none; }

.icolors > li {
  padding: 0;
  margin: 2px;
  float: left;
  display: inline-block;
  height: 30px;
  width: 30px;
  background: #343a40;
  text-align: center; }

.icolors > li.active:after {
  content: "\2713 ";
  color: #fff;
  line-height: 30px; }

.icolors > li:first-child {
  margin-left: 0; }

.icolors > li.orange {
  background: #ea6c41; }

.icolors > li.yellow {
  background: #fec107; }

.icolors > li.info {
  background: #177ec1; }

.icolors > li.green {
  background: #00a65a; }

.icolors > li.red {
  background: #dd4b39; }

.icolors > li.purple {
  background: #ab8ce4; }

.icolors > li.blue {
  background: #01c0c8; }

.icheck-list {
  float: left;
  padding-right: 50px;
  padding-top: 10px; }

.icheck-list li {
  padding-bottom: 5px; }

.icheck-list li label {
  padding-left: 10px; }
