﻿@model CMS_Elite.Models.tblNew

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    var lstCategory = (List<CMS_Elite.Models.tblCategory>)ViewBag.Category;
}
<link href="~/Areas/Admin/assets/node_modules/dropify/dist/css/dropify.min.css" rel="stylesheet" />
@using (Html.BeginForm("Create", "New", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body table-border-style">
                    <div class="row">
                        <div class="col-lg-6">
                            <h4 class="card-title">Thêm mới tin bài</h4>
                        </div>
                    </div>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Chuyên mục <span class="label-required">*</span></label>
                                        <select id="inputState" class="form-control" name="cboCategory">
                                            <option value="-1" selected>---Chọn chuyên mục----</option>
                                            @if (lstCategory != null)
                                            {
                                                foreach (var item in lstCategory)
                                                {
                                                    <option value="@item.ID">@item.CateName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Tác giả <span class="label-required">*</span></label>
                                        <div>
                                            @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Ngày đăng <span class="label-required">*</span></label>
                                        <div>
                                            @Html.EditorFor(model => model.PostDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                            @Html.ValidationMessageFor(model => model.PostDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Loại tin <span class="label-required">*</span></label>
                                        <div class="radio-list" style="padding-left:10px;">
                                            <input type="radio" id="tinhot" name="theloai" value="Tin hót" checked>
                                            <label style="margin-right:10px">Tin hot</label>
                                            <input type="radio" id="tinmoi" name="theloai" value="Tin mới">
                                            <label>Tin mới</label>
                                            <input type="radio" id="binhluan" name="theloai" value="Bình luận">
                                            <label>Bình luận</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Ảnh lớn <span class="label-required">*</span></label>
                                        <div class="card">
                                            <div class="card-body">
                                                <input type="file" name="filePost1" id="input-file-now-custom-1" class="dropify" data-default-file="~/Areas/Admin/assets/node_modules/dropify/src/images/test-image-1.jpg" data-allowed-file-extensions='["png", "jpg"]' />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Ảnh nhỏ: <span class="label-required">*</span></label>
                                        <div class="card">
                                            <div class="card-body">
                                                <input type="file" name="filePost2" id="input-file-now-custom-1" class="dropify" data-default-file="~/Areas/Admin/assets/node_modules/dropify/src/images/test-image-1.jpg" data-allowed-file-extensions='["png", "jpg"]' />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Tiêu đề: <span class="label-required">*</span></label>
                                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Tiêu đề" } })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Mô tả ngắn: <span class="label-required">*</span></label>
                                        @Html.EditorFor(model => model.ShortDescribe, new { htmlAttributes = new { @class = "form-control", placeholder = "Mô tả ngắn" } })
                                        @Html.ValidationMessageFor(model => model.ShortDescribe, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Mô tả chi tiết: <span class="label-required">*</span></label>
                                        <div>
                                            @Html.TextAreaFor(model => model.FullDescribe, new { @class = "form-control", @id = "txtFullDescribe" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="submit" value="Ghi dữ liệu" class="btn btn-primary btn-sm" />

                                    @Html.ActionLink("Quay lại", "Index")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Areas/Admin/Content/ckfinder/ckfinder.js"></script>
<script src="~/Areas/Admin/Content/ckeditor/ckeditor.js"></script>
<script src="~/Areas/Admin/assets/node_modules/dropify/dist/js/dropify.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        CKEDITOR.replace('txtFullDescribe');
    });
</script>
<script>
    $(document).ready(function () {
        // Basic
        $('.dropify').dropify();

        // Translated
        $('.dropify-fr').dropify({
            messages: {
                default: 'Glissez-déposez un fichier ici ou cliquez',
                replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                remove: 'Supprimer',
                error: 'Désolé, le fichier trop volumineux'
            }
        });

        // Used events
        var drEvent = $('#input-file-events').dropify();

        drEvent.on('dropify.beforeClear', function (event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });

        drEvent.on('dropify.afterClear', function (event, element) {
            alert('File deleted');
        });

        drEvent.on('dropify.errors', function (event, element) {
            console.log('Has Errors');
        });

        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function (e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    });
</script>