﻿@model CMS_Elite.Models.tblNew
@{
    var lstCategory = (List<CMS_Elite.Models.tblCategory>)ViewBag.Category;

    var moelcate = (IEnumerable<CMS_Elite.Models.tblCategory>)Session["cate"];
}
<div class="modal-content">
    <div class="modal-header" style="background-color:#ff6a00">
        <h5 class="modal-title" id="exampleModalLongTitle" style="color:azure">Thông bài đăng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Chuyên mục: <span class="label-required"></span></label>
                    @{
                        foreach (var item in moelcate)
                        {
                            if (Model.CateNewsID == item.ID)
                            {
                                <span>@item.CateName</span>
                            }
                        }
                    }
                    @*@Html.DropDownListFor(n => n.CateNewsID, new SelectList(lstCategory, "ID", "CateName"), new { @class = "form-control", Name = "cboCategory" })*@
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Tiêu đề: <span class="label-required"></span></label>
                    @Model.Title
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Ngày đăng: <span class="label-required"></span></label>
                    @Model.PostDate.Value.ToString("dd/MM/yy")
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Loại tin: <span class="label-required"></span></label>
                    @{
                        if (Model.IsHot == 1)
                        {
                            <span>Tin hót</span>
                        }
                        if (Model.IsView == 1)
                        {
                            <span>Tin mới</span>
                        }
                        if (Model.IsComment == 1)
                        {
                            <span>Bình luận</span>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label>Mô tả ngắn: <span class="label-required"></span></label>
                @Model.ShortDescribe
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label>Mô tả chi tiết: <span class="label-required"></span></label>
                @Html.Raw(Model.FullDescribe)
            </div>
        </div>
    </div>
</div>